#vimderbar {
    padding: 1px;
    padding-left: 10px;
    background: #000;
    color: #fff;
    display: block;
    width: 100%;
    overflow: hidden;
}

#confirm {
	color: #d62d47;
}

#mode {
    text-transform: capitalize;
}

#command {
    color: #fff;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: -3px;
    display: none;
}

#command:focus {
    border: none;
    box-shadow: none;
}

#command-info {
    font-size: 0.9em;
    color: #888;
}

#command-confirm {
	color: #d62d47;
}

#command-keys {
    position: absolute;
    right: 10px;
}

.cm-searching {
    background: rgba(255, 255, 0, .4) !important;
    /* doesn't work */
}