.vimderbar {
    font-family: "SourceCodePro-Medium","ＭＳ ゴシック","MS Gothic",monospace;
    background: #2D2E30;
    color: #8fddff;
    display: block;
    width: 100%;
    height: 1.4em;
    overflow: hidden;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.vimderbar-mode {
    margin: 1px;
    margin-left: 10px;
    text-transform: capitalize;
}
input.vimderbar-command {
    font-family: "SourceCodePro-Medium","ＭＳ ゴシック","MS Gothic",monospace;
    color: #8fddff;
    padding: 0;
    margin: 0;
    margin-top: -4px;
    margin-left: -8px;
    display: none;
    width: 90%;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
input.vimderbar-command:focus {
    color: #8fddff;
    background: transparent !important;
    border: none !important;
    box-shadow: none;
}
.vimderbar-command-sign {
    margin-top: 3px;
    margin-right: 0;
    margin-left: 10px;
}
.vimderbar-command-keys {
    position: absolute;
    right: 10px;
}
.cm-searching {
    color: #000000 !important;
    background: rgb(211, 205, 105);
}
/* using admittedly insane selectors to avoid inline editor inheriting fat-cursor... made default color neutral */
.content .CodeMirror.cm-keymap-fat-cursor .CodeMirror-cursors {
  z-index: 3;
}
.content .CodeMirror.cm-keymap-fat-cursor .CodeMirror-cursor {
    border-left: none;
    background: rgb(145, 145, 145);
    background: rgba(145, 145, 145, 0.5);
}
.content .CodeMirror.cm-keymap-fat-cursor .inline-text-editor .CodeMirror:not(.cm-keymap-fat-cursor) .CodeMirror-cursor {
    border-left: 1px solid black;
    background: none;
}
