#vimderbar {
    padding: 1px;
    padding-left: 10px;
    background: #2D2E30;
    color: #8fddff;
    display: block;
    width: 100%;
    overflow: hidden;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#confirm {
	color: #FF7B7B;
    text-shadow: none;
}

#mode {
    text-transform: capitalize;
}

#command {
    color: #fff;
    color: #8fddff;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
    margin-top: -1px;
    margin-left: -1px;
    display: none;
    font-weight: 300;
    font-size: inherit;
}

#command:focus {
    border: none;
    box-shadow: none;
}

#command-info {
    font-size: 0.9em;
    color: #888;
}

#command-confirm {
	color: #d62d47;
}

#command-keys {
    position: absolute;
    right: 10px;
}

.cm-searching {
    background: rgba(255, 255, 0, .4) !important;
    /* doesn't work ?*/
}

.CodeMirror.cm-keymap-fat-cursor div.CodeMirror-cursor {
    z-index: 100 !important;
    background: rgba(67, 216, 145, 0.5) !important;
}